<thf-page-default
  t-title="Alterar senha"
  [t-breadcrumb]="breadcrumb">

  <form #changePasswordForm="ngForm">

    <div class="thf-row">
      <thf-input
        class="thf-md-6"
        name="username"
        [(ngModel)]="user.username"
        t-clean
        t-icon="thf-icon-user"
        t-label="Login"
        t-required>
      </thf-input>

      <thf-password
        class="thf-md-6"
        name="senha"
        [(ngModel)]="user.password"
        t-clean
        t-label="Nova senha"
        t-required>
      </thf-password>
    </div>

    <div class="thf-row thf-pt-2">
      <thf-button
        class="thf-md-4"
        t-label="Alterar"
        [t-disabled]="changePasswordForm.invalid"
        (t-click)="changePassword()">
      </thf-button>
    </div>
  </form>
</thf-page-default>
